
body{
    background-color: rgb(0, 0, 0);
    margin: 0;
}
.tir{
    overflow: hidden;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    background: url(https://res.cloudinary.com/vankalin/image/upload/v1652337947/Tir/preview_piqkyf.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    cursor: url(https://res.cloudinary.com/dspfsamgq/image/upload/v1579257122/5a3755ce3a48f0.7723702415135758862387_jvy9hf.png) 25 25, default;
}
.tir_info{
    display: flex;
    font-size: 50px;
    justify-content: space-between;
    width: 90%;
    margin-top: -50px;
    color: #E99C50;
}
.pleace_tir{
    width: 90%;
}
.targets{
    display: flex;
    justify-content: space-around;
}
.target{
    width: 5.4vw;
    height: 19.7vh;
    background: url(https://res.cloudinary.com/dspfsamgq/image/upload/v1576677836/sprite2_vcnzd8.png) center bottom/15vh auto no-repeat;
    transform-origin: 50% bottom;
    transition:.5s;
}
.table{
    border-bottom: 10px solid #E99C50;
    z-index: -1;
}
.start_modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: end; 
}
.start{
    width: 150px;
    height: 55px;
    color: beige;
    font-size: 40px;
    background-color: green;
    border-radius: 10px;
    margin-bottom: 35px;
    cursor: url(https://res.cloudinary.com/dspfsamgq/image/upload/v1579257122/5a3755ce3a48f0.7723702415135758862387_jvy9hf.png) 25 25, default;
}
.passed{
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.7);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 0.5s;
    display: none;

}

/* Pause */
.tir__control{
    position: absolute;
    width: auto;
    height: 10vh;
    display: flex;
    align-items: center;
    right: 5%;
    bottom: 5%;
}
.tir__control button{
    width: 60px;
    height: 60px;
    font-size: 40px;
    line-height: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    cursor:pointer;
    text-decoration:none;
    color:#ffffff;
    background-color:#E99C50;
    border-radius:100%;
}
.settings-btn:hover{
    background-color:#e99037;
    transform: scale(1.05);
}
.settings-modal, .pause-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.settings-modal__content{
    width: 40vw;
    height: 40vh;
    color: beige;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E99C50;
    border-radius: 10px;
    cursor: url(https://res.cloudinary.com/dspfsamgq/image/upload/v1579257122/5a3755ce3a48f0.7723702415135758862387_jvy9hf.png) 25 25, default;
}
.settings-modal__properties{
    width: 95%;
    height: 95%;
    
}

.settings-modal__complexity{
    display: flex;
    justify-content: space-between;
}

img{
    fill: red;
    color: red;
}


.die{
    transform: rotateX(90deg);
}
.hide{
    display: none;
}
.show{
    display: block;
}
.move2lvl{
    animation: Move2lvl linear alternate infinite;
    animation-duration: 3s;
    margin-left: 2%;
}
@keyframes Move2lvl {
    100%{
       margin-left: 90%;
    }    
}
.target__vertical{
    position: absolute;
    animation: tfallen linear infinite;
    top: -20vh;
    display: none;
}
.stop{
    animation-play-state: paused;
}
.tv1{
    left: 10vw;
    animation-duration: 10s;
}
.tv2{
    left: 25vw;
    animation-duration: 1s;
}
.tv3{
    left: 40vw;
    animation-duration: 3s;
}
.tv4{
    left: 55vw;
    animation-duration: 2s;
}
.tv5{
    left: 65vw;
    animation-duration: 4s;
}
@keyframes tfallen {
    100%{
        top: 100vh;
    }
}
